
<div>
    <h2><span>Movie</span> {{vm.movie.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.movie.title}}</span>
        </dd>
        <dt><span>Original Title</span></dt>
        <dd>
            <span>{{vm.movie.originalTitle}}</span>
        </dd>
        <dt><span>Release Date</span></dt>
        <dd>
            <span>{{vm.movie.releaseDate}}</span>
        </dd>
        <dt><span>Overview</span></dt>
        <dd>
            <span>{{vm.movie.overview}}</span>
        </dd>
        <dt><span>Homepage</span></dt>
        <dd>
            <span>{{vm.movie.homepage}}</span>
        </dd>
        <dt><span>Budget</span></dt>
        <dd>
            <span>{{vm.movie.budget}}</span>
        </dd>
        <dt><span>Revenue</span></dt>
        <dd>
            <span>{{vm.movie.revenue}}</span>
        </dd>
        <dt><span>Runtime</span></dt>
        <dd>
            <span>{{vm.movie.runtime}}</span>
        </dd>
        <dt><span>Vote Rating</span></dt>
        <dd>
            <span>{{vm.movie.voteRating}}</span>
        </dd>
        <dt><span>Vote Count</span></dt>
        <dd>
            <span>{{vm.movie.voteCount}}</span>
        </dd>
        <dt><span>Poster</span></dt>
        <dd>
            <a ui-sref="picture-detail({id:vm.movie.posterId})">{{vm.movie.posterId}}</a>
        </dd>
        <dt><span>Backdrop</span></dt>
        <dd>
            <a ui-sref="picture-detail({id:vm.movie.backdropId})">{{vm.movie.backdropId}}</a>
        </dd>
        <dt><span>Genre</span></dt>
        <dd>
            <a ui-sref="genre-detail({id:vm.movie.genreId})">{{vm.movie.genreId}}</a>
        </dd>
        <dt><span>Actor</span></dt>
        <dd>
            <span ng-repeat="actor in vm.movie.actors">
                <a ui-sref="actor-detail({id: actor.id})">{{actor.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Artwork</span></dt>
        <dd>
            <span ng-repeat="artwork in vm.movie.artworks">
                <a ui-sref="picture-detail({id: artwork.id})">{{artwork.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="movie-detail.edit({id:vm.movie.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
