
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCrewLabel">Create or edit a Crew</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.crew.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.crew.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_department">Department</label>
            <input type="text" class="form-control" name="department" id="field_department"
                    ng-model="vm.crew.department"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_job">Job</label>
            <input type="text" class="form-control" name="job" id="field_job"
                    ng-model="vm.crew.job"
                     />
        </div>

        <div class="form-group">
            <label for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" ng-model="vm.crew.personId" ng-options="person.id as person.id for person in vm.people"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
